# secilc
type secilc, domain;
type secilc_exec, exec_type, file_type;

allow secilc init:fifo_file write;  # not required, but what triggers this

allow secilc installd:fd use;
allow secilc installd:fifo_file write;  # not required, but what triggers this

# Allow secilc to write the built policy
allow secilc cache_file:dir r_dir_perms;
allow secilc self:capability { dac_override };
allow secilc cache_selinux_file:dir r_dir_perms;
allow secilc cache_selinux_file:file rw_file_perms;

# Allow secilc to access plat_sepolicy.cil
allow secilc sepolicy_file:file r_file_perms;

# Allow secilc to read /data/selinux/*/sepolicy.cil
allow secilc selinux_data_file:dir r_dir_perms;
allow secilc selinux_data_file:file r_file_perms;
